<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Saxulum Controller Provider Test Suite">
            <directory>./tests/Saxulum/SaxulumControllerProvider</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/Saxulum/SaxulumControllerProvider</directory>
        </whitelist>
    </filter>
</phpunit>